{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": false,
  "pringWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStyleSheet": "./src/index.css"
}
